.features-list {
  @extend %list;

  @media screen and (max-width:767px){
    margin-bottom: -30px;
  }
  @media screen and (min-width:768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media screen and (min-width:1200px){
    grid-template-columns: repeat(4, 1fr);
  }
  

 &__item{
   @media screen and (max-width:767px) {
     margin-bottom: 30px;
   }
   
 }
  &__wrapper {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;

    background: $features-background-color;
    border-radius: 4px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    @include text-tyles(14px, 1.14);
    text-transform: uppercase;
    color: $title-text-color;

    @media screen and(max-width:767px) {
      text-align: center;
    }
  }


  &__text {
    margin: 0;
  }
}
