.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background-color;
}
.footer-section__container {
  
  @media screen and (min-width:768px) and (max-width:1199px){
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
  @media screen and (min-width:1200px){
    display: flex;
    align-items: baseline;
  }
  
}
.address-container {
  @media screen and (max-width:1199px){
    margin-bottom: 60px;
     text-align: center;
  }
  @media screen and (min-width:768px){
    margin-right: 165px;
  }
  @media screen and (min-width:1200px){
    margin-right: 70px;
  }
}
.address {
  margin-top: 20px;
  font-style: normal;

  &__text {
    margin-top: 0;
    margin-bottom: 9px;
    color: $primary-white-color;
  }
}

.address-list {
  @extend %list;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    @extend %link;
    color: $footer-text-color;

    transition: color 250ms $timing-function;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}
.footer-socials-container {
  @media screen and (max-width:767px){
    margin-bottom: 60px;
  }
  @media screen and (max-width:1999px){
     text-align: center;
  }
  @media screen and (min-width:1200px){
    margin-right: 93px;
  }
}

.footer-socials-container__text,
.footer-form__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}
.footer-form {
  @media screen and (max-width:1199px){
    text-align: center;
  }
  &__wrapper {
    @media screen and (min-width:1200px){
      display: flex;
    }
    
  }
  &__label {
    @media screen and (min-width:1200px){
      margin-right: 12px;
    }
  }
  &__input {
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    @media screen and (max-width:1199px){
      margin-bottom: 20px;  
    }
    
    height: 50px;
    @media screen and (max-width:479px){
      width: 100%;
    }
    @media screen and (min-width:480px) and (max-width:1999px){
      width: 450px;
    }
    @media screen and (min-width:1200px){
      width: 358px;
    }
    
    background-color: $footer-background-color;
    border: 1px solid $footer-input-border-color;
    border-radius: 4px;
    outline: none;
  }
  &__input::placeholder,
  &__input {
    @include text-tyles(16px, 1.25);
    letter-spacing: 0.03em;
    color: $footer-text-color;
  }
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 29px;
    padding-right: 28px;

    @media screen and (max-width:1199px){
      margin: auto;
    }
  }
}
