$primary-white-color: #fff;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$logo-black-color: #000;
$footer-text-color: rgba(255, 255, 255, 0.6);
$modal-textarea-placeholde-color: rgba(117, 117, 117, 0.5);
$icons-color: #afb1b8;

$our-team-background-color: #f5f4fa;
$features-background-color: #f5f4fa;
$hero-background-color: #2f303a;
$footer-background-color: #2f303a;
$our-works-text-background: rgba(47, 48, 58, 0.8);
$footer-icon-background: rgba(255, 255, 255, 0.1);
$modal-button-background-color: #188ce8;
$backdrop-background: rgba(0, 0, 0, 0.2);

$header-border-color: rgba(236, 236, 236, 1);
$footer-input-border-color: rgba(255, 255, 255, 0.3);
$modal-input-border-color: rgba(33, 33, 33, 0.2);
$header-socials-list-border-color: rgba(33, 33, 33, 0.2);

$portfolio-border-color: rgba(238, 238, 238, 1);
$portfolio-overlay-background: rgba(33, 150, 243, 0.9);
$portfolio-button-background-color: #f5f4fa;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
